<div class="section" id="image-section-<%= section.id %>" style="<%= section.active === true ? '' : 'display:none;' %>">
    <% let count = 0 %>
    <% for(const subSection of section.subSections) { %>
        <div class="image-info" id="image-info-<%= subSection.id %>" style="<%= count === 0 ? '' : 'display:none;' %>">
            <div class="project-task">
                <span class="bold">Project Task:</span> <%= subSection.task %>
            </div>
            <div class="row task-row">
                <div class="pinfo text-left">
                    <span class="bold">Role:</span> <%= subSection.role %>
                </div>
                <div class="pinfo side-bars">
                    <span class="bold">Timeline:</span> <%= subSection.timeLine %>
                </div>
                <div class="pinfo">
                    <span class="blue"><%= section.name %></span>
                </div>
            </div>
        </div>

        <% count = count + 1 %>
    <% } %>

    <div class="project-info">
        <div class="project-image-wrapper" id="project-image-wrapper-<%= section.id %>">
            <div class="row">
                <% count = 0 %>
                <% for(const subSection of section.subSections) { %>
                    <% if(subSection.reactiveLayout) { %>
                        <% for(const image of subSection.images) { %>
                            <div class=" col-sm-6">
                                <div class="pad-top"></div>
                                <div class="project-image">
                                    <img src="<%= image %>" class="img-fluid full-width" />
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                            <div class="col-sm-12 col-12">
                                <div class="pad-top"></div>
                                <div class="project-image">
                                    <img src="<%= subSection.imageDesktop %>" class="img-fluid hide-mobile" />
                                    <img src="<%= subSection.imageMobile %>" class="img-fluid hide-desktop" />
                                </div>
                            </div>
                    <% } %>
                    <% count = count + 1 %>
                <% } %>

            </div>
        </div>
    </div>

    <% if(section.alsoInterested) { %>
        <div class="also-interested text-center <%= section.alsoInterested.offsetCenter ? 'offset-centering' : '' %>">
            You may also be interested in

            <div class="row">
                <% for(interested of section.alsoInterested.links) { %>
                    <div class="col-6">
                        <div class="pad-top"></div>
                        <a href="<%= interested.link %>">
                            <img src="<%= interested.image %>" class="img-fluid" />

                            <p class="text-center thumbnail-copy">
                                <% if(interested.copy) { %>
                                    <%= interested.copy %>
                                <%  } %>
                            </p>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>
</div>
