<!DOCTYPE html>
<html lang="en">
    <%- include('partials/_header') %>

    <body>
        <div id="main">
            <%- include('partials/_ju') %>

            <div class="pad-top"></div>

            <div class="container work-samples">
                <div class="row">
                    <% for(let client in clients) { %>
                        <div class="col-sm-6 col-md-3 col-xl-3 pad-top">
                            <div class="text-center">
                                <a href="/<%= client %>">
                                    <img src="<%= clients[client].homePageImage %>%>" alt="" class="img-fluid" />
                                </a>
                                <p class="client"><%= clients[client].fullName %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="pad-top"></div>
            <div class="pad-top"></div>
            <div class="pad-top"></div>
            <div class="pad-top"></div>
        </div>
    </body>
</html>
